{% block content %}
    <div class="container">
        <h2>Medical History List</h2>
        <br>
        <ul class="list-group">
            {% for obj in prescription %}
                <li class="list-group-item">
                    <h3><strong>{{ obj.date }}</strong></h3>
                    <p>Patient Name - {{ obj.patient }}</p>
                    <p>Symptoms - {{ obj.symptoms }}</p>
                    <p>Prescription - {{ obj.prescription }}</p>

                    {#                    <a href="{% url 'MedRecAppointments:patientDetails' pk=patient.user.id %}">#}
                    {#                        <button class="btn btn-primary">Learn More</button>#}
                    {#                    </a>#}

                </li>
            {% endfor %}
            <br> <br>
            <a href="{% url 'MedRecAppointments:createPrescription' %}">
                <button class="btn btn-primary pull-right">Create New Prescription</button>
            </a>
        </ul>
    </div>
{% endblock %}