{% extends "MedRecAppointments/baseF.html" %}

{% block content %}
    <div class="container">
        <h2>Medical History List</h2>
        <br>
        <ul class="list-group">
            {% for obj in prescription %}
                <li class="list-group-item">
                    <h3><strong>{{ obj.date }}</strong></h3>
                    <p>Patient Name - {{ obj.patient }}</p>
                    <p>Diagnosis - {{ obj.diagnosis }}</p>
                </li>
            {% endfor %}
            <br> <br>
            {% for group in user.groups.all %}
                {% if group.name == 'Practitioner' %}
                    <a href="{% url 'MedRecAppointments:createPrescription' %}">
                        <button class="btn btn-primary pull-right">Create New Prescription</button>
                    </a>
                {% endif %}
            {% endfor %}
            <p><a href="{% url 'MedRecAppointments:Index' %}" >
                <button class="btn btn-primary" >Back</button>
            </a></p>
        </ul>
    </div>
{% endblock %}