{% extends "MedRecAppointments/baseF.html" %}

{% block content %}
    <div class="margin-content">
        <h1>Dashboard</h1>
        <hr>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Total Appointments</strong> : {{ appointment|length }}
            </li>
            {#                <li class="list-group-item">#}
            {#                    <strong>Appointments Done</strong> - {% for object in appointment %}#}
            {#                    {% if object.status == 'Compelete' %}#}
            {#                        {{ appointment|length }} {% endif %} {% endfor %}#}
            {#                </li>#}
            {#                <li class="list-group-item">#}
            {#                    <strong>Upcoming Appointments</strong> -{% for object in appointment %}#}
            {#                    {% if object.status == 'Incomplete' %}#}
            {#                        {{ appointment|length }} {% endif %} {% endfor %}#}
            {#                </li>#}
        </ul>
    </div>

    <div>
        <div>
            <h3>Appointments</h3>
            <div class="Card Card-body">

                <table class="table table-striped margin-top">
                    <thead>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Doctor</th>
                    <th>Nurse</th>
                    <th>Patient</th>
                    <th>Status</th>
                    </thead>
                    {% for obj in appointment %}
                        <tr>
                            <td>{{ obj.date }}</td>
                            <td>{{ obj.time }}</td>
                            <td>{{ obj.doctor }}</td>
                            <td>{{ obj.nurse }}</td>
                            <td>{{ obj.patient }}</td>
                            <td>{{ obj.status }}</td>
                            <td><a href="{% url 'MedRecAppointments:updateAppointment' pk=obj.id %}">
                                <button class="btn btn-warning">Update</button>
                            </a></td>
                        </tr>
                    {% endfor %}
                </table>
                {% if user.is_authenticated %}
                    <a href="{% url 'MedRecAppointments:createAppointment' %}" class="Cappoint">
                        <button class="btn btn-primary">Create Appointment</button>
                    </a>
                {% endif %}
            </div>
        </div>
        <br>
        <div>
            <h3>Last 5 Patients -</h3>
            <div class="card card-body">

                <table class="table table-striped">
                    <thead>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Age</th>
                    {#                    <th>Update</th>#}
                    {#                    <th>Remove</th>#}
                    </thead>
                    {% for obj in patient %}
                        <tr>
                            <td>{{ obj.first_name }} {{ obj.last_name }}</td>
                            <td>{{ obj.email }}</td>
                            <td>{{ obj.gender }}</td>
                            <td>{{ obj.age }}</td>
                            <td><a href="{% url 'MedRecAppointments:patientDetails' pk=obj.id %}">
                                <button class="btn btn-info">Details</button>
                            </a></td>
                            {#                    <td><a href="{% url 'user_profile:profile-pk' pk=obj.user.id %}"><button class="btn btn-warning">Update</button></a></td>#}
                            {#                    <td><a href="{% url 'user_profile:profile-delete' pk=obj.user.id %}"><button class="btn btn-danger">Delete</button></a></td>#}
                        </tr>

                    {% endfor %}
                    <br><br>
                    {% if user.is_authenticated %}
                        <a href="{% url 'MedRecAppointments:addPatient' %}" class="Cappoint">
                            <button class="btn btn-primary">Create Patient</button>
                        </a>
                    {% endif %}
                </table>
                <br>
                {% for group in user.groups.all %}
                    {% if group.name == 'Practitioner' %}
                        <a href="{% url 'MedRecAppointments:createPrescription' %}" class="Cappoint3">
                            <button class="btn btn-primary pull-right">Create New Prescription</button>
                        </a>
                    {% endif %}
                {% endfor %}
                <a href="{% url 'MedRecAppointments:historyAndPrescriptions' %}" class="Cappoint2">
                    <button class="btn btn-primary">View All Prescriptions</button>
                </a>
                <br><br>

            </div>
        </div>
    </div>
    <br>
    <a href="{% url 'login' %}" class="LogOut">Logout</a>
{% endblock %}