{% extends "MedRecAppointments/baseF.html" %}

{% block content %}

<h1 class="sign1">{{ object.patient }}'s Invoice</h1>
<div class="Cardz">
    <p class="CardHeader">Total Cost:<strong class="CardBody">{{ object.cost }}</strong></p>
    <p class="CardHeader">Already Paid: <strong class="CardBody">{{ object.paid }}</strong></p>
    <p class="CardHeader">Left to Pay: <strong class="CardBody">{{ object.total_amount }}</strong></p>

    <p><a href="{% url 'MedRecAppointments:AccountantIndex' %}" class="back">
        <button class="btn btn-primary ">Back</button>
    </a></p>
</div>
{% endblock %}

