{% block content %}
    <h1>{{ object.patient }}'s Medical History</h1>
    <p>Diagnosis: {{ object.diagnosis }}</p>
    <p>Symptoms: {{ object.symptoms }}</p>
    <p>Prescription: {{ object.prescription }}</p>
    <p>Last consulted: {{ object.date }}</p>
    {% for group in user.groups.all %}
        {% if group.name == 'Practitioner' %}
            <p><a href="{% url 'MedRecAppointments:updatePrescription' pk=object.id %}">
                <button>Update</button>
            </a></p>
        {% endif %}
    {% endfor %}
    <p><a href="{% url 'MedRecAppointments:Index' %}">
        <button>Home</button>
    </a></p>
{% endblock %}
